/* The container must be positioned relative: */
.custom-select {
    position: relative;
    font-family: Arial;
  }
  
  .custom-select select {
    display: none; /*скрыть исходный элемент SELECT:*/
  }
  
  .select-selected {
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
    height: 66px;
    margin-bottom: 6.68rem;
    padding: 5.4%;
  }
  
  /* Стиль стрелки внутри элемента выбора: */
  .select-selected:after {
    position: absolute;
    content: "";
    background-image: url('img/check.svg');
    background-repeat: no-repeat;
    background-size: 24;
    width: 24px;
    height: 24px;
    right: 29px;
  }
  
  /* Направьте стрелку вверх, когда окно выбора открыто (активно): */
  .select-selected.select-arrow-active:after {
    -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  
  /* стилизовать элементы (параметры), включая выбранный элемент: */
  .select-items div,.select-selected {
    margin-top: 5px;
    line-height: 1;
    color: #606060;
    padding: 26px 7.4% 4.04%;
    cursor: pointer;
  }
  
  /* Элементы стиля (варианты): */
  .select-items {
    position: absolute;
    background-color: #fff;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #606060;
    margin-top: 5px;
  }
  
  /* Скрыть элементы, когда окно выбора закрыто: */
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }
