.block-title {
    color: #272639;
    font-size: 2.62rem;
    font-family: 'Gotham-Bold';
    margin-top: 4.2em;
    margin-bottom: 2.1em;
    text-align: center;
    text-transform: uppercase;
}

.block-info {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #000;
    margin-bottom: 9rem;

}

.benefit {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 19.25%;
}

@media (max-width: 960px) {
    .block-title {
        font-size: 2rem;
        margin-top: 49px;
        margin-bottom: 35px;
    }

    .block-info {
        margin-bottom: 48px;
    }
}

@media (max-width: 800px) {
    .benefit {
        width: 45%;
    }

    .benefit:nth-child(n+3){
        margin-top: 40px;
    }
}

@media (max-width: 450px) {
    .benefit {
        width: 80%;
    }

    .benefit:nth-child(n+2){
        margin-top: 40px;
    }
}