.block-provider {
  margin-top: 146px;
  margin-bottom: 146px;
}

.block-provider__title {
  font-family: "Gotham-Bold";
  font-size: 2.635rem;
  text-align: center;
  text-transform: uppercase;
}

.block-provider__subtitle {
  margin-top: 28px;
  font-size: 1.125rem;

  text-align: center;
}

.block-provider__carousel {
  display: flex;
  max-width: 1030px;
  justify-content: center;
  align-items: center;
  margin-top: 72px;
  margin-left: auto;
  margin-right: auto;
}

.provider-carousel {
  display: flex;
  justify-content: space-between;
  width: 960px;
  padding-right: 5px;
  padding-left: 5px;
  align-items: center;

  .slide {
    width: 92px;
    margin-right: 5px;
  
    img {
      width: 92px;
    }
  }
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.next {
  width: 56px;
  height: 56px;
  background-color: rgba(58, 57, 74, 0.19);
  background-image: url("../img/slider/right.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28;
  border-radius: 3px;
}

.next:hover {
  background-color: #3a394a;
  cursor: pointer;
}

@media (min-width: 960px) and (max-width: 1250px) {
  .block-provider {
    margin-left: $mrg;
    margin-right: $mrg;
  }
}

@media (max-width: 960px) {
  .block-provider {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .block-provider__title {
    font-size: 2rem;
  }
}

@media (max-width: 650px) {
  .block-provider__title {
    font-size: 1.6rem;
  }

  .provider-carousel {
    width: 296px;
    overflow: hidden;
  }
}
