$bcg-orange: #FF6B00;
$mrg: 10px;

.header {
    width: 100%;
    position: relative;
    background-image: url('../img/S_fde8cedf-3image_story\ 1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 0;
}

.header::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(92.36deg, #212031 57.27%, rgba(33, 32, 49, 0.22) 97.73%);
    opacity: 0.9;
    z-index: -1;
}

.nav {
    position: relative;
    z-index: 0; 
    display: flex;
    justify-content: space-between;
}

.header__logo {
    font-family: 'Manrope', sans-serif;
    color: #fff;
    line-height: 1.5;
    font-weight: 700;
}

.slogan-text_orange {
    color: #FF6B00;
    font-family: 'Gotham-Bold';
}

.block-input__input {
    height: 66px;
    border: none;
    border-radius: 5px;
    padding: 5.2% 7.4% 4.04%;
}

.payment-btn {
    height: 66px;
    margin-top: 2.23em;

    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-family: 'Gotham-Bold';
    text-transform: uppercase;
    color: #fff;
    font-weight: 900;
    background-color: $bcg-orange;

  cursor: pointer;
}

.container-btn {
    display: flex;
    justify-content: center;
    margin-top: 121px; 
    position: relative;
}

.btn {
    position: absolute;
    content: "";
    height: 60px;
    width: 60px;
    border: none;
    border-radius: 15px;
    -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #fff;
    top: -20px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.btn a {
    display: block;
    background-image: url('../img/chevron-down.svg');
    background-repeat: no-repeat;

    width: 38px;
    height: 38px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
}

@media (min-width: 960px) and (max-width:1250px){
    .header__logo {
        margin-left: $mrg;
    }

    .trash {
        margin-right: $mrg;
    }

    .slogan-text {
        margin-left: $mrg;
    }

    .forms {
        margin-left: $mrg;
    }

    .payment-btn{
        margin-right: $mrg;
    }
}

@media (min-width: 960px) {
    .square-one {
        content: "";
        position: absolute;
        top: 50px;
        left: -800px;
        width: 900px;
        height: 900px;
        background: rgba(255, 107, 0, 0.17);
        border-radius: 20px;
        transform: rotate(45deg);
    }
    
    .square-two {
        position: absolute;
        top: 50px;
        left: -850px;
        width: 900px;
        height: 900px;
        background: rgba(255, 107, 0, 0.15);
        border-radius: 20px;
        transform: rotate(45deg);
    }
    
    .nav {
        max-width: 1200px;
        margin: auto;
    }
    
    .nav::after {
        display: block;
        position: absolute;
        content: "";
        height: 1px;
        width: 100%;
        background-color: #585763;  
    
        z-index: 1;
        bottom: -2%;
    }
    
    .burger {
        display:none;
    }
    
    .container-menu {
        display:none;
    }
    
    .trash-mobile {
        display:none;
    }
    
    .header__logo {
        font-size: 2.38rem;
        margin-top: 1em;  
    }
    
    .header__list {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        width: 630px;
        margin-top: 3.85em;
    }
    
    .header__item {
        font-size: 0.87rem;
    }
    
    .header__link {
        color: #fff;
        position: relative;
    }
    
    .header__link::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px; /* Высота подчеркивающей линии */
        background: $bcg-orange; /* Цвет линии */
        bottom: -129%;
        animation: out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
    }
    
    .header__item:hover .header__link::before {
        animation: in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
    }
    
    .trash {
        fill:rgba(0, 0, 0, 0)
    }
    
    @keyframes in {
        0% {
        width: 0;
        left: 0;
        right: auto;
        }
        100% {
        left: 0;
        right: auto;
        width: 100%;
        }
      }
      
      @keyframes out {
        0% {
        width: 100%;
        left: auto;
        right: 0;
        }
        100% {
        width: 0;
        left: auto;
        right: 0;
        }
      }
      
      @keyframes show {
        0% {
        opacity: 0;
        transform: translateY(-10px);
        }
        100% {
        opacity: 1;
        transform: translateY(-10px);
        }
      }
    
    .trash {
        cursor: pointer;
    }
    
    svg {
        fill: rgba(0, 0, 0, 0);
      }
    
    .slogan {
        max-width: 1200px;
        min-width: 960px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .slogan-text {
        width: 720px;
        margin-top: 3.09em;
    
        font-size: 2.62rem;
        line-height: 1.6;
        color: #fff;
        margin-bottom: 1.4em;
    }
    
    .calculation {
        max-width: 1200px;
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
     
    }
    
    .forms {
        width: 38%;
    }
    
    .title-select {
        display: block;
        font-size: 1rem;
        color: #fff;
        margin-bottom: 1.1em;
        font-weight: 400;
    }
    
    .title-select-mobile {
        display: none;
        }
    
    .block-input {
        width: 18.9%;
    }
    
    .block-input__input {
        width: 100%;
    }
    
    .payment-btn {
        width: 21%;
    }

    .benefits-block {
        max-width: 1200px;
        min-width: 960px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-around;
        color: #fff;
    }
    .benefits {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 23.4%;
    }
    
    .benefits::after {
        display: block;
        position: absolute;
        content: "";
        height: 3px;
        width: 100%;
        background-color: #5F5C6B;  
    
        z-index: 1;
        bottom: -30%;
    }
    
    .benefits__text {
        text-align: center;
        font-size: 1rem;
        line-height: 1.28;
    
        margin-top: 13px;
    }
    
}

@media (max-width: 960px) {
    .nav {
       height: 74px;
    }
    
    .burger{
      position: absolute;
      left: 12px;
      top: 14px;
      width: 25px;
      height: 50px;
      cursor: pointer;
    }
    
    .burger span, .burger span:before, .burger span:after{
      width: 100%;
      position: absolute;
      height: 4px;
      background: #fff;
      display: block;
      transition: .3s;
      border-radius: 1px;
    }
    .burger span:before{
      content: "";
      top: -7px;
      transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .burger span{
      top: 20px;
    }
    .burger span:after{
      content: "";
      bottom: -7px;
      transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    
    .burger span.active:before{
      content: "";
      position: absolute;
      z-index: 3;
      top: 0px;
      transform: rotate(45deg);
      transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
      background: #000;
    }
    .burger span.active:after{
      content: "";
      position: absolute;
      z-index: 3;
      bottom: 0;
      transform: rotate(-45deg);
      transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
      background: #000;
    }

    .container-menu {
      position: absolute;
      width: 100%;

      .menu{
        width: 70%;
        height: auto;
        background: #fff;
        border-radius: 2px;
        padding-top: 81px;
        position: absolute;
        left: -960px;
        transition: left 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        
        ul {
            list-style-type: none;
             padding: 0;

             li {
                padding-left: 11%;

                &:nth-child(1n+2) {
                    margin-top: 24px;
                  }

                &:last-child {
                    margin-bottom: 74px;
                  }

                a {
                    text-decoration: none;
                    color: #000;
                    font-family: 'Gotham-Bold';
                    font-size: 0.875rem;
                }   
              }

         }

         &.animate{
          left: 0;
        }
      }

    }
    
    .header__logo {
        padding-left: 37px;
        font-size: 1.625rem;
        margin: auto;
    }

    .header__list {
        display: none;
    }
    
    .trash-mobile {
      margin-top: auto;
      margin-bottom: auto;
      margin-right: 12px;

    }
    
    svg {
      fill: rgba(0, 0, 0, 0);
    }
  
    .slogan {
      max-width: 600px;
      padding-left: 10px;
      padding-right: 10px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 2.2rem;
      margin-bottom: 2.12rem;
  }
  
  .slogan-text {
      font-size: 2rem;
      line-height: 1.1;
      color: #fff;
      text-align: center;
      padding-left: 10px;
      padding-right: 10px;
  }

  .calculation {
    width: 100%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.forms {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}

.select-selected {
  margin-bottom: 0;
}

.block-input {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}


.title-select {
  display: block;
    font-size: 1rem;
    color: #fff;
    margin-bottom: 1.1em;
    font-weight: 400;
  width: 96%;
  margin-top: 31px;
  margin-left: auto;
  margin-right: auto;
}


.title-select-desk {
  display: none;
}


.block-input__input {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}

.payment-btn {
  width: 96%;
  margin-left: 2%;
}

.benefits-block {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #fff;
}

.benefits {
  width: 320px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.benefits__text {
  text-align: center;
  font-size: 1rem;
  line-height: 1.28;

  margin-top: 13px;
}
}