@import 'nullstyle.scss';
@import 'select.scss';
@import 'header.scss';
@import 'block-service-work';

$bcg-orange: #FF6B00;
$mrg: 10px;

.more-info {
    background: rgba(58, 57, 74, 0.06);
}

.more-infoBlock {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 87px;
    padding-bottom: 89px;
    display: flex;
    justify-content: space-between;
}

.informations {
    width: 53%;
}

.informations__title {
    color: #272639;
    font-size: 2.62rem;
    font-family: 'Gotham-Bold';
    line-height: 1.3;
    margin-top: 1em;
    text-transform: uppercase;
}

.informations__list {
    color: #272639;
    font-size: 1.125rem;
    line-height: 1.6;
    
}

.list {
    list-style-position: inside;
}

.list__item:nth-child(n+1) {
    margin-top: 20px;
}

.list__item_bold {
    font-family: 'Gotham-Bold';
}

.payment-button {
    width: 40%;
    height: 66px;
    margin-top: 1.5em;

    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-family: 'Gotham-Bold';
    color: #fff;
    font-weight: 900;
    background-color: $bcg-orange;

    cursor: pointer;
}

.more-info__img {
    border-radius: 12px;
    width: 40.6%;
    height: 116.39%;
} 





.block-provider {
   margin-top: 146px;
   margin-bottom: 146px;
}

.block-provider__title {
    font-family: 'Gotham-Bold';
    font-size: 2.635rem;
    text-align: center;
    text-transform: uppercase;
}
.block-provider__subtitle {
    margin-top: 28px;
    font-size: 1.125rem;

    text-align: center;
}

.block-carousel {
    display: flex;
    max-width: 1030px;
    justify-content: space-between;
    margin-top: 72px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.carousel {
  display: flex;
  justify-content: space-between;
  width: 960px;
  padding-right: 5px;
  padding-left: 5px;
  align-items: center;
}

.next {
    width: 56px;
    height: 56px;
    background-color: rgba(58, 57, 74, 0.19);
    background-image: url('../img/slider/right.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 28;
    border-radius: 3px;
}

.next:hover {
    background-color: #3A394A;
    cursor: pointer;
}

@media (min-width: 960px) and (max-width:1250px){
    .block-info {
        margin-left: $mrg;
        margin-right: $mrg;
    }

    .more-info__img {
        margin-right: $mrg;
    }

    .informations {
        margin-left: $mrg;
    }

    .block-provider {
        margin-left: $mrg;
        margin-right: $mrg;
    }
}





