@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Gotham-Regular';
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

@font-face {
  font-family: 'Gotham-Regular';
  src: url("../font/GothamPro.woff");
}

@font-face {
  font-family: 'Gotham-Bold';
  src: url("../font/GothamPro-Bold.woff");
}

/* The container must be positioned relative: */
.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none;
  /*скрыть исходный элемент SELECT:*/
}

.select-selected {
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
  height: 66px;
  margin-bottom: 6.68rem;
  padding: 5.4%;
}

/* Стиль стрелки внутри элемента выбора: */
.select-selected:after {
  position: absolute;
  content: "";
  background-image: url("../img/check.svg");
  background-repeat: no-repeat;
  background-size: 24;
  width: 24px;
  height: 24px;
  right: 29px;
}

/* Направьте стрелку вверх, когда окно выбора открыто (активно): */
.select-selected.select-arrow-active:after {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* стилизовать элементы (параметры), включая выбранный элемент: */
.select-items div, .select-selected {
  margin-top: 5px;
  line-height: 1;
  color: #606060;
  padding: 26px 7.4% 4.04%;
  cursor: pointer;
}

/* Элементы стиля (варианты): */
.select-items {
  position: absolute;
  background-color: #fff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #606060;
  margin-top: 5px;
}

/* Скрыть элементы, когда окно выбора закрыто: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.header {
  width: 100%;
  position: relative;
  background-image: url("../img/S_fde8cedf-3image_story 1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 0;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(92.36deg, #212031 57.27%, rgba(33, 32, 49, 0.22) 97.73%);
  opacity: 0.9;
  z-index: -1;
}

.nav {
  position: relative;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  font-family: 'Manrope', sans-serif;
  color: #fff;
  line-height: 1.5;
  font-weight: 700;
}

.slogan-text_orange {
  color: #FF6B00;
  font-family: 'Gotham-Bold';
}

.block-input__input {
  height: 66px;
  border: none;
  border-radius: 5px;
  padding: 5.2% 7.4% 4.04%;
}

.payment-btn {
  height: 66px;
  margin-top: 2.23em;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-family: 'Gotham-Bold';
  text-transform: uppercase;
  color: #fff;
  font-weight: 900;
  background-color: #FF6B00;
  cursor: pointer;
}

.container-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 121px;
  position: relative;
}

.btn {
  position: absolute;
  content: "";
  height: 60px;
  width: 60px;
  border: none;
  border-radius: 15px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #fff;
  top: -20px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn a {
  display: block;
  background-image: url("../img/chevron-down.svg");
  background-repeat: no-repeat;
  width: 38px;
  height: 38px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@media (min-width: 960px) and (max-width: 1250px) {
  .header__logo {
    margin-left: 10px;
  }
  .trash {
    margin-right: 10px;
  }
  .slogan-text {
    margin-left: 10px;
  }
  .forms {
    margin-left: 10px;
  }
  .payment-btn {
    margin-right: 10px;
  }
}

@media (min-width: 960px) {
  .square-one {
    content: "";
    position: absolute;
    top: 50px;
    left: -800px;
    width: 900px;
    height: 900px;
    background: rgba(255, 107, 0, 0.17);
    border-radius: 20px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .square-two {
    position: absolute;
    top: 50px;
    left: -850px;
    width: 900px;
    height: 900px;
    background: rgba(255, 107, 0, 0.15);
    border-radius: 20px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .nav {
    max-width: 1200px;
    margin: auto;
  }
  .nav::after {
    display: block;
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    background-color: #585763;
    z-index: 1;
    bottom: -2%;
  }
  .burger {
    display: none;
  }
  .container-menu {
    display: none;
  }
  .trash-mobile {
    display: none;
  }
  .header__logo {
    font-size: 2.38rem;
    margin-top: 1em;
  }
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style-type: none;
    width: 630px;
    margin-top: 3.85em;
  }
  .header__item {
    font-size: 0.87rem;
  }
  .header__link {
    color: #fff;
    position: relative;
  }
  .header__link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    /* Высота подчеркивающей линии */
    background: #FF6B00;
    /* Цвет линии */
    bottom: -129%;
    -webkit-animation: out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
            animation: out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
  }
  .header__item:hover .header__link::before {
    -webkit-animation: in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
            animation: in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
  }
  .trash {
    fill: rgba(0, 0, 0, 0);
  }
  @-webkit-keyframes in {
    0% {
      width: 0;
      left: 0;
      right: auto;
    }
    100% {
      left: 0;
      right: auto;
      width: 100%;
    }
  }
  @keyframes in {
    0% {
      width: 0;
      left: 0;
      right: auto;
    }
    100% {
      left: 0;
      right: auto;
      width: 100%;
    }
  }
  @-webkit-keyframes out {
    0% {
      width: 100%;
      left: auto;
      right: 0;
    }
    100% {
      width: 0;
      left: auto;
      right: 0;
    }
  }
  @keyframes out {
    0% {
      width: 100%;
      left: auto;
      right: 0;
    }
    100% {
      width: 0;
      left: auto;
      right: 0;
    }
  }
  @-webkit-keyframes show {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
    }
  }
  @keyframes show {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
    }
  }
  .trash {
    cursor: pointer;
  }
  svg {
    fill: rgba(0, 0, 0, 0);
  }
  .slogan {
    max-width: 1200px;
    min-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
  .slogan-text {
    width: 720px;
    margin-top: 3.09em;
    font-size: 2.62rem;
    line-height: 1.6;
    color: #fff;
    margin-bottom: 1.4em;
  }
  .calculation {
    max-width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }
  .forms {
    width: 38%;
  }
  .title-select {
    display: block;
    font-size: 1rem;
    color: #fff;
    margin-bottom: 1.1em;
    font-weight: 400;
  }
  .title-select-mobile {
    display: none;
  }
  .block-input {
    width: 18.9%;
  }
  .block-input__input {
    width: 100%;
  }
  .payment-btn {
    width: 21%;
  }
  .benefits-block {
    max-width: 1200px;
    min-width: 960px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    color: #fff;
  }
  .benefits {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 23.4%;
  }
  .benefits::after {
    display: block;
    position: absolute;
    content: "";
    height: 3px;
    width: 100%;
    background-color: #5F5C6B;
    z-index: 1;
    bottom: -30%;
  }
  .benefits__text {
    text-align: center;
    font-size: 1rem;
    line-height: 1.28;
    margin-top: 13px;
  }
}

@media (max-width: 960px) {
  .nav {
    height: 74px;
  }
  .burger {
    position: absolute;
    left: 12px;
    top: 14px;
    width: 25px;
    height: 50px;
    cursor: pointer;
  }
  .burger span, .burger span:before, .burger span:after {
    width: 100%;
    position: absolute;
    height: 4px;
    background: #fff;
    display: block;
    -webkit-transition: .3s;
    transition: .3s;
    border-radius: 1px;
  }
  .burger span:before {
    content: "";
    top: -7px;
    -webkit-transition: top 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .burger span {
    top: 20px;
  }
  .burger span:after {
    content: "";
    bottom: -7px;
    -webkit-transition: bottom 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: bottom 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .burger span.active:before {
    content: "";
    position: absolute;
    z-index: 3;
    top: 0px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: top 300ms, -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: top 300ms, -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    background: #000;
  }
  .burger span.active:after {
    content: "";
    position: absolute;
    z-index: 3;
    bottom: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: bottom 300ms, -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: bottom 300ms, -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    background: #000;
  }
  .container-menu {
    position: absolute;
    width: 100%;
  }
  .container-menu .menu {
    width: 70%;
    height: auto;
    background: #fff;
    border-radius: 2px;
    padding-top: 81px;
    position: absolute;
    left: -960px;
    -webkit-transition: left 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: left 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .container-menu .menu ul {
    list-style-type: none;
    padding: 0;
  }
  .container-menu .menu ul li {
    padding-left: 11%;
  }
  .container-menu .menu ul li:nth-child(1n+2) {
    margin-top: 24px;
  }
  .container-menu .menu ul li:last-child {
    margin-bottom: 74px;
  }
  .container-menu .menu ul li a {
    text-decoration: none;
    color: #000;
    font-family: 'Gotham-Bold';
    font-size: 0.875rem;
  }
  .container-menu .menu.animate {
    left: 0;
  }
  .header__logo {
    padding-left: 37px;
    font-size: 1.625rem;
    margin: auto;
  }
  .header__list {
    display: none;
  }
  .trash-mobile {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 12px;
  }
  svg {
    fill: rgba(0, 0, 0, 0);
  }
  .slogan {
    max-width: 600px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.2rem;
    margin-bottom: 2.12rem;
  }
  .slogan-text {
    font-size: 2rem;
    line-height: 1.1;
    color: #fff;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  .calculation {
    width: 100%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
  .forms {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
  }
  .select-selected {
    margin-bottom: 0;
  }
  .block-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
  }
  .title-select {
    display: block;
    font-size: 1rem;
    color: #fff;
    margin-bottom: 1.1em;
    font-weight: 400;
    width: 96%;
    margin-top: 31px;
    margin-left: auto;
    margin-right: auto;
  }
  .title-select-desk {
    display: none;
  }
  .block-input__input {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
  }
  .payment-btn {
    width: 96%;
    margin-left: 2%;
  }
  .benefits-block {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #fff;
  }
  .benefits {
    width: 320px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 50px;
  }
  .benefits__text {
    text-align: center;
    font-size: 1rem;
    line-height: 1.28;
    margin-top: 13px;
  }
}

.block-title {
  color: #272639;
  font-size: 2.62rem;
  font-family: 'Gotham-Bold';
  margin-top: 4.2em;
  margin-bottom: 2.1em;
  text-align: center;
  text-transform: uppercase;
}

.block-info {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #000;
  margin-bottom: 9rem;
}

.benefit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 19.25%;
}

@media (max-width: 960px) {
  .block-title {
    font-size: 2rem;
    margin-top: 49px;
    margin-bottom: 35px;
  }
  .block-info {
    margin-bottom: 48px;
  }
}

@media (max-width: 800px) {
  .benefit {
    width: 45%;
  }
  .benefit:nth-child(n+3) {
    margin-top: 40px;
  }
}

@media (max-width: 450px) {
  .benefit {
    width: 80%;
  }
  .benefit:nth-child(n+2) {
    margin-top: 40px;
  }
}

.more-info {
  background: rgba(58, 57, 74, 0.06);
}

.more-infoBlock {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 87px;
  padding-bottom: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.informations-block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.informations {
  width: 53%;
}

.informations__title {
  color: #272639;
  font-size: 2.62rem;
  font-family: 'Gotham-Bold';
  line-height: 1.3;
  margin-top: 1em;
  text-transform: uppercase;
}

.informations__list {
  color: #272639;
  font-size: 1.125rem;
  line-height: 1.6;
}

.list {
  list-style-position: inside;
}

.list__item:nth-child(n+1) {
  margin-top: 20px;
}

.list__item_bold {
  font-family: 'Gotham-Bold';
}

.payment-button {
  width: 40%;
  padding: 5px;
  height: 66px;
  margin-top: 1.5em;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-family: 'Gotham-Bold';
  color: #fff;
  font-weight: 900;
  background-color: #FF6B00;
  cursor: pointer;
}

.more-info__image_desk {
  max-width: 488px;
  margin-left: 10px;
  margin-right: 10px;
}

.more-info__img_desk {
  border-radius: 12px;
  width: 100%;
}

.more-info__image_mobile, .more-info__img_mobile {
  display: none;
}

@media (min-width: 960px) and (max-width: 1250px) {
  .block-info {
    margin-left: 10px;
    margin-right: 10px;
  }
  .more-info__img {
    margin-right: 10px;
  }
  .informations {
    margin-left: 10px;
  }
}

@media (max-width: 960px) {
  .more-infoBlock {
    width: 100%;
    padding-top: 48px;
    padding-bottom: 40px;
  }
  .informations {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .informations__title {
    width: 90%;
    font-size: 2rem;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .more-info__image_desk, .more-info__img_desk {
    display: none;
  }
  .more-info__image_mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 488px;
    margin-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .more-info__img_mobile {
    display: block;
    border-radius: 12px;
    width: 100%;
  }
  .informations__list {
    margin-left: 10px;
    margin-right: 10px;
  }
  .payment-button {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
}

.block-provider {
  margin-top: 146px;
  margin-bottom: 146px;
}

.block-provider__title {
  font-family: "Gotham-Bold";
  font-size: 2.635rem;
  text-align: center;
  text-transform: uppercase;
}

.block-provider__subtitle {
  margin-top: 28px;
  font-size: 1.125rem;
  text-align: center;
}

.block-provider__carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1030px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 72px;
  margin-left: auto;
  margin-right: auto;
}

.provider-carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 960px;
  padding-right: 5px;
  padding-left: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.provider-carousel .slide {
  width: 92px;
  margin-right: 5px;
}

.provider-carousel .slide img {
  width: 92px;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
}

.next {
  width: 56px;
  height: 56px;
  background-color: rgba(58, 57, 74, 0.19);
  background-image: url("../img/slider/right.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28;
  border-radius: 3px;
}

.next:hover {
  background-color: #3a394a;
  cursor: pointer;
}

@media (min-width: 960px) and (max-width: 1250px) {
  .block-provider {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 960px) {
  .block-provider {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .block-provider__title {
    font-size: 2rem;
  }
}

@media (max-width: 650px) {
  .block-provider__title {
    font-size: 1.6rem;
  }
  .provider-carousel {
    width: 296px;
    overflow: hidden;
  }
}

.block-transport {
  width: 100%;
  position: relative;
  background-image: url("../img/man_kampagne_tgs_stage_bauverkehr_16x9 1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 0;
  overflow: hidden;
}

.block-transport::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(92.36deg, #212031 48.28%, rgba(33, 32, 49, 0) 97.73%);
  opacity: 0.9;
  z-index: -1;
}

.transport__square-one {
  position: absolute;
  top: 50px;
  right: -550px;
  width: 600px;
  height: 600px;
  background: rgba(255, 107, 0, 0.44);
  border-radius: 20px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.transport__square-two {
  position: absolute;
  top: 50px;
  right: -600px;
  width: 600px;
  height: 600px;
  background: #FF6B00;
  border-radius: 20px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.transport {
  padding-top: 147px;
  padding-bottom: 147px;
  margin: auto;
  max-width: 1200px;
}

.transport__title {
  width: 640px;
  font-family: 'Gotham-Bold';
  font-size: 2.625rem;
  line-height: 1.4;
  color: #fff;
  text-transform: uppercase;
}

.transport__paragraph {
  width: 610px;
  margin-top: 18px;
  font-size: 1rem;
  line-height: 1.68;
  color: #fff;
}

.transport__btn {
  width: 252px;
}

@media (min-width: 960px) and (max-width: 1250px) {
  .transport {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 960px) {
  .block-transport::after {
    background: #2b2a3d;
  }
  .transport {
    padding: 57px 10px 51px;
    margin: auto;
  }
  .transport__square-one, .transport__square-two {
    display: none;
  }
  .transport__title {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 2rem;
    line-height: 1;
    text-align: center;
  }
  .transport__paragraph {
    width: 100%;
    margin-top: 18px;
    font-size: 1rem;
    line-height: 1.68;
    text-align: center;
  }
  .transport__btn {
    width: 100%;
  }
}

.block-feedback {
  max-width: 1200px;
  margin: 146px auto 158px;
}

.block-feedback__title {
  text-align: center;
  font-family: 'Gotham-Bold';
  font-size: 2.625rem;
  text-transform: uppercase;
}

.feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-top: 81px;
}

.prev {
  width: 56px;
  height: 56px;
  background-color: rgba(58, 57, 74, 0.19);
  background-image: url("../img/slider/left.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28;
  border-radius: 3px;
}

.prev:hover {
  background-color: #3a394a;
  cursor: pointer;
}

.carousel-feedback-block {
  width: 675px;
  margin-left: 25px;
  margin-right: 25px;
  overflow: hidden;
}

.carousel-feedback {
  width: 2135px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}

.feedback-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 310px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.feedback-slide:not(:last-child) {
  margin-right: 55px;
}

.slide__img {
  width: 100%;
  text-align: center;
}

.slide__title {
  width: 100%;
  margin-top: 37px;
  text-align: center;
  font-family: 'Gotham-Bold';
  font-size: 1.125rem;
}

.slide__subtitle {
  width: 100%;
  text-align: center;
  font-size: 1rem;
  color: #7D7D90;
  margin-top: 14px;
}

.slide__text {
  width: 100%;
  margin-top: 14px;
  text-align: center;
  font-size: 1rem;
  line-height: 1.5;
}

@media (max-width: 850px) {
  .block-feedback {
    margin: 62px 10px 47px;
  }
  .block-feedback__title {
    font-size: 2rem;
  }
  .carousel-feedback-block {
    margin: 0 auto;
    width: 310px;
    margin-bottom: 24px;
  }
  .feedback {
    max-width: 360px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 33px;
    margin-left: auto;
    margin-right: auto;
  }
  .prev {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-right: 5px;
  }
  #next-btn-feedback {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.footer {
  width: 100%;
  background: #3a394a;
  padding-top: 88px;
  padding-bottom: 34px;
}

.footer-wrap {
  position: relative;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-wrap::after {
  display: block;
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  background-color: #585763;
  z-index: 1;
  bottom: -2%;
}

.logo-footer .header__logo {
  margin: 0;
  padding: 0;
}

.menu-footer {
  width: 115px;
}

.menu-footer__list {
  height: 178px;
}

.menu-footer__list .menu-footer__item {
  font-family: "Gotham-Bold";
}

.menu-footer__list div {
  height: 150px;
  margin-top: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-footer__item {
  list-style-type: none;
  color: #ccccd4;
  font-size: 0.875rem;
  line-height: 1.214;
}

.footer-list__contacts {
  width: 219px;
}

.footer-list__networks {
  width: 122px;
}

.footer-list__networks .menu-footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #797983;
}

.footer__copiright {
  width: 100%;
  padding-top: 31px;
  color: #ccccd4;
  text-align: center;
}

@media (min-width: 960px) and (max-width: 1250px) {
  .footer-wrap {
    margin-left: 10px;
    margin-right: 10px;
  }
  .logo-footer {
    margin-right: 10px;
  }
}

@media (max-width: 960px) {
  .footer {
    padding-top: 49px;
    padding-bottom: 49px;
  }
  .footer-wrap {
    max-width: 960px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .logo-footer {
    width: 100%;
    text-align: center;
    margin-bottom: 41px;
  }
  .footer-list__contacts {
    width: 180px;
  }
  .footer__copiright {
    padding-top: 23px;
    padding-right: 19px;
    padding-left: 19px;
  }
}

@media (max-width: 450px) {
  .footer-wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-list__networks {
    width: 40px;
    height: 40px;
    margin-top: 30px;
  }
  .item-networks {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */